footer.footer
    .container
        .footer__content
            .footer__logo
                img(src="../static/images/logo.svg" alt="")
            .footer__links
                a(href="#").footer__link
                    img(src="../static/icons/fb.svg" alt="")
                a(href="#").footer__link
                    img(src="../static/icons/inst.svg" alt="")
                a(href="#").footer__link
                    img(src="../static/icons/yt.svg" alt="")
        p.text.text-gray.text-center Copyright © 2020 Besnik