section.reviews
    .container.p-relative
        h2.title.title--medium.text-center Happy Clients
        p(style="max-width: 551px").reviews__desc.text.text-green.text-center.mx-auto The Marketing Accountability Standards Board (MASB) endorses the definitions, purposes, and constructs of classes

        .p-relative
            .review#reivew-1
                //- .review-controls
                //-     button.review-control.review-controls__left
                //-         <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                //-             <path d="M7 1L1 7L7 13" stroke="#2E2E2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                //-         </svg>
                //-     button.review-control.review-controls__right
                //-         <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                //-             <path d="M1 1L7 7L1 13" stroke="#2E2E2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                //-         </svg>
                .review__avatar
                    img(src="../static/images/profile.png" alt="")
                p.review__text Not weekly or monthly like other sites out there. This ensures that we offer prospective homebuyers and investors with the freshest- hottest deals on the Internet.
                .review__name Rowhan Smith
                .review__position Rowhan Smith

            img.reviews__review-photo-img(src="../static/images/review-photo.png" alt="")
        img.reviews__quotes-img(src="../static/images/quotes.svg" alt="")