section.solutions
    .container
        h2.title.title--medium.text-center Solutions for every need
        p(style="max-width: 551px").text.text-green.text-center.mx-auto Join thousands of marketers and entrepreneurs for a 2-day event at the forefront of social commerce.

        .solution
            .solution__content
                p.solution__sub(style="color: #B33CDB") Influencer
                h3.solution__title Influencer marketing
                p.solution__text.text.text-green(style="max-width: 355px") Create infinite pieces of content with our influencer product. Build,streamline,manage large-scale influencer programs
                a(href="#").btn.btn--flat Learn More
                    include ../../static/icons/arrow-right.svg
            .solution__image
                img(src="../static/images/services/1.svg" alt="")

        .solution.solution--reverse
            .solution__content
                p.solution__sub(style="color: #FBBA33") Community
                h3.solution__title Community marketing
                p.solution__text.text.text-green(style="max-width: 355px") Bring your relationships to new heights with our community product. Discover your biggest enthusiasts 
                a(href="#").btn.btn--flat Learn More
                    include ../../static/icons/arrow-right.svg
            .solution__image
                img(src="../static/images/services/2.svg" alt="")

        .solution
            .solution__content
                p.solution__sub(style="color: #DE2879") services
                h3.solution__title Managed services
                p.solution__text.text.text-green(style="max-width: 355px") Our full-service solution lets our experts do the heavy lifting to optimize your community for brand building and storytelling
                a(href="#").btn.btn--flat Learn More
                    include ../../static/icons/arrow-right.svg
            .solution__image
                img(src="../static/images/services/3.svg" alt="")