section.stats
    .container
        h2(style="max-width: 734px").title.title--medium.text-white.text-center.mx-auto Search through more than 11 million social media profiles
        p(style="max-width: 562px").stats__desc.text.text-green-light.text-center.mx-auto Heepsy’s search filters help you find exactly what you’re looking for, and our influencer reports provide you with the metrics
        .stats__list
            .stats__item
                .stats__item-number.text-white 2260
                .stats__item-desc.text-green-light Satisfied Brands
            .stats__item
                .stats__item-number.text-white 2260
                .stats__item-desc.text-green-light Satisfied Brands
            .stats__item
                .stats__item-number.text-white 2260
                .stats__item-desc.text-green-light Satisfied Brands
            .stats__item
                .stats__item-number.text-white 2260
                .stats__item-desc.text-green-light Satisfied Brands