section.subscribe
    .container.subscribe__content(style="background-image: url('../static/images/gradient-bg.png')")
        h2.title.title--medium.text-white.text-center Subscribe our newsletter
        p(style="max-width: 551px").text.text-white.text-center.mx-auto Join thousands of marketers and entrepreneurs for a 2-day event at the forefront of social commerce.
        .text-center 
            a(href="#").btn.btn--primary.btn--lg Learn More
                include ../../static/icons/arrow-right.svg