section.team
    .container
        h2.title.title--medium.text-center Our team
        p(style="max-width: 551px").team__desc.text.text-green.text-center.mx-auto.text-green Join thousands of marketers and entrepreneurs for a 2-day event at the forefront of social commerce.
        .team__list
            .team__item 
                .team__item-img
                    img(src="../static/images/team/1.png" alt="")
                .team__item-content
                    h3.team__item-name Rebel Clothing
                    .team__item-stats
                        .team__item-stat
                            .team__item-stat-number 6.7 M
                            .team__item-stat-desc FOLLOWER REACH
                        .team__item-stat
                            .team__item-stat-number 56.2 K
                            .team__item-stat-desc ENGAGEMENT
                    a(href="#").btn.btn--flat.text-purple Learn More
                        include ../../static/icons/arrow-right.svg
            .team__item 
                .team__item-img
                    img(src="../static/images/team/2.png" alt="")
                .team__item-content
                    h3.team__item-name Rebel Clothing
                    .team__item-stats
                        .team__item-stat
                            .team__item-stat-number 6.7 M
                            .team__item-stat-desc FOLLOWER REACH
                        .team__item-stat
                            .team__item-stat-number 56.2 K
                            .team__item-stat-desc ENGAGEMENT
                    a(href="#").btn.btn--flat.text-purple Learn More
                        include ../../static/icons/arrow-right.svg
            .team__item 
                .team__item-img
                    img(src="../static/images/team/3.png" alt="")
                .team__item-content
                    h3.team__item-name Rebel Clothing
                    .team__item-stats
                        .team__item-stat
                            .team__item-stat-number 6.7 M
                            .team__item-stat-desc FOLLOWER REACH
                        .team__item-stat
                            .team__item-stat-number 56.2 K
                            .team__item-stat-desc ENGAGEMENT
                    a(href="#").btn.btn--flat.text-purple Learn More
                        include ../../static/icons/arrow-right.svg
